@font-face {
    font-family: 'Simpsons';
    src: url('Simpsonfont DEMO.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body {
    position: relative;
    overflow: hidden;
    margin: 0;
    height: 100vh;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(stretched-2950-1546-1148429.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}
.tb-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.title {
    background-color: white;
    padding: 15px;
    border: solid black 3px;
    border-radius: 5px;
    font-size: 48px;
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-family: 'Simpsons';
}
.table {
    width: 100%;
    border-collapse: collapse;
    width: 80%;
    font-family: Poppins;
    margin: 30px;
}
.table,
.table__thead__tr__th,
.table__tbody__tr__td {
    border: 3px solid black;
}
.table__thead,
.table__tbody__tr__td {
    padding: 8px;
    text-align: left;
}
.table__thead__tr__th,
.table__tbody__tr__td {
    text-align: center;
}
.table__thead__tr__th {
    font-size: 28px;
    padding: 20px;
    text-decoration: underline;
    background-color: #6DD0F5;
}
.table__thead__tr__th {
    background-color: #F15E30;
    transition: 0.4s;
}
.table__thead__tr__th:hover {
    background-color: #e64f21;
    transition: 0.4s;
}
.table__tbody__tr__td {
    background-color: rgb(240, 240, 240);
    transition: 0.4s;
}
.table__tbody__tr__td:hover {
    background-color: rgb(210, 210, 210);
    transition: 0.4s;
}
.button {
    padding: 10px;
    font-family: Poppins;
    background-color: #000000;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.9s;
    font-weight: bold;
    border: solid black 3px;
    text-decoration: underline;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(0, 255, 85);
    transition: 0.9s;
    padding: 12px;
    color: black;
}

@media only screen and (max-width: 700px) {
    .table__thead__tr__th {
        font-size: 18px;
        padding: 10px;
    }
    .table__tbody__tr__td {
        font-size: 12px;
    }

    .button {
        padding: 7px;
        font-size: 14px;

    }

  }